@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Home Page";
}



<div class="course" style="padding-top:20px">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.Datetime.ToString("MM")
                </div>
                <div class="day">
                    @course.Datetime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecture.Name
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
        </li>
    }
</div>
